# Rom related file
roms.zip
roms/Super Mario Land.gb
roms/Legend of Zelda, The - Link's Awakening DX.gbc
roms/Legend of Zelda, The - Oracle of Seasons.gbc
roms/Pokemon_Rouge.gb
roms/Pokemon - Version Cristal.gbc
roms/Tetris.gb
roms/Bubble_Ghost.gb
roms/Pokemon - Version Argent.gbc
roms/Super Mario Land 2.gb
roms/Metroid II - Return of Samus.gb
roms/Pokemon - Version Or.gbc
roms/Legend_of_Zelda_link_Awaking.gb
roms/Metal Gear Solid.gbc
roms/Kirby 2.gb
roms/Mystic_Quest.gb
roms/Pokemon_Bleue.gb
roms/Legend of Zelda, The - Oracle of Ages.gbc
roms/Pokemon - Jaune.gbc

# Rust
target

# packaged app
build/
